Repository casual-simulation/casualos, pull requests merged in 2024-11, with the labels that each got.

#566 Update a bunch of insecure packages
  babel.config.js
  docs/docs/components.jsx
  docs/docs/glossary/AuxFile.mdx
  docs/docs/glossary/CasualOS.mdx
  docs/docs/glossary/Dimension.mdx
  docs/docs/glossary/Portal.mdx
  docs/docs/glossary/TagPortal.mdx
  docs/docs/glossary/abCore.mdx
  docs/docs/glossary/index.jsx
  docs/docs/tags.mdx
  docs/docs/tags/behavior.mdx
  docs/docs/tags/config-bot.mdx
  docs/docs/tags/portal-bot.mdx
  docs/docs/variables.mdx
  docs/docusaurus.config.js
  docs/package.json
  docs/versioned_docs/version-3.1.36/components.mdx
  docs/versioned_docs/version-3.1.36/glossary/Portal.mdx
  docs/versioned_docs/version-3.1.36/glossary/TagPortal.mdx
  docs/versioned_docs/version-3.1.36/tags.mdx
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/aux-components/package.json
  src/aux-proxy/package.json
  src/aux-records-aws/package.json
  src/aux-records/LivekitController.ts
  src/aux-records/package.json
  src/aux-redirector/package.json
  src/aux-runtime/package.json
  src/aux-server/aux-backend/server/server.ts
  src/aux-server/package.json
  src/aux-vm-browser/package.json
  src/aux-vm-client/package.json
  src/aux-vm/package.json
  src/aux-websocket-aws/package.json
  src/casualos-cli/package.json
  src/rate-limit-redis/package.json
  src/rate-limit-redis/src/lib.spec.ts
  src/rate-limit-redis/src/lib.ts
  src/tunnel/package.json
  src/tunnel/src/websocket/WebSocketServer.ts
Labels: bug, area:build

#567 Add shared documents
  CHANGELOG.md
  src/aux-common/bots/BotEvents.ts
  src/aux-common/documents/RemoteYjsSharedDocument.spec.ts
  src/aux-common/documents/RemoteYjsSharedDocument.ts
  src/aux-common/documents/SharedDocument.ts
  src/aux-common/documents/SharedDocumentConfig.ts
  src/aux-common/documents/SharedDocumentFactories.ts
  src/aux-common/documents/YjsSharedDocument.spec.ts
  src/aux-common/documents/YjsSharedDocument.ts
  src/aux-common/documents/index.ts
  src/aux-common/documents/test/DocumentTests.ts
  src/aux-common/partitions/AuxPartitionConfig.ts
  src/aux-common/partitions/RemoteYjsPartition.ts
  src/aux-common/partitions/YjsPartition.ts
  src/aux-records/SubscriptionConfiguration.ts
  src/aux-runtime/runtime/AuxLibrary.spec.ts
  src/aux-runtime/runtime/AuxLibrary.ts
  src/aux-runtime/runtime/AuxLibraryDefinitions.def
  src/aux-server/aux-web/shared/AppManager.ts
  src/aux-vm-browser/managers/BotManager.ts
  src/aux-vm-client/partitions/PartitionFactories.ts
  src/aux-vm-client/vm/RemoteAuxChannel.ts
  src/aux-vm-node/vm/NodeAuxChannel.ts
  src/aux-vm/vm/AuxConfig.ts
  src/aux-vm/vm/BaseAuxChannel.spec.ts
  src/aux-vm/vm/BaseAuxChannel.ts
Labels: enhancement, area:backend, area:runtime

#552 Feat/add ai.chat.allowed models feature limit
  CHANGELOG.md
  src/aux-records/AIController.spec.ts
  src/aux-records/AIController.ts
  src/aux-records/SubscriptionConfiguration.ts
Labels: enhancement, area:backend

#563 Feat/add ability to give custom token modifier costs per ai model
  src/aux-records/AIController.spec.ts
  src/aux-records/AIController.ts
  src/aux-records/RecordsServer.spec.ts
  src/aux-records/ServerConfig.ts
  src/aux-server/aux-backend/shared/ServerBuilder.ts
Labels: enhancement, area:backend
