Repository casual-simulation/casualos, pull requests merged in 2024-03, with the labels that each got.

#403 Add the ability to track some load time metrics using SimpleAnalytics events
  src/aux-server/aux-web/shared/AppManager.ts
Labels: area:player

#407 Fix `os.calculateRayFromCamera()`
  CHANGELOG.md
  src/aux-server/aux-web/aux-player/scene/PlayerGame.ts
Labels: bug, area:player

#410 Fix `miniGridPortal` and `miniMapPortal` resizing
  CHANGELOG.md
  src/aux-server/aux-web/aux-player/PlayerGameView/PlayerGameView.css
Labels: bug, area:player

#411 Add support for `import` and `export` statements
  CHANGELOG.md
  docs/docs/tags/listen.mdx
  src/aux-common/bots/Bot.ts
  src/aux-common/bots/BotCalculations.spec.ts
  src/aux-common/bots/BotCalculations.ts
  src/aux-common/bots/BotModule.ts
  src/aux-common/bots/index.ts
  src/aux-runtime/runtime/AuxCompiler.spec.ts
  src/aux-runtime/runtime/AuxCompiler.ts
  src/aux-runtime/runtime/AuxGlobalContext.ts
  src/aux-runtime/runtime/AuxLibrary.spec.ts
  src/aux-runtime/runtime/AuxLibrary.ts
  src/aux-runtime/runtime/AuxRuntime.spec.ts
  src/aux-runtime/runtime/AuxRuntime.ts
  src/aux-runtime/runtime/CompiledBot.ts
  src/aux-runtime/runtime/Transpiler.spec.ts
  src/aux-runtime/runtime/Transpiler.ts
  src/aux-runtime/runtime/Utils.ts
  src/aux-runtime/runtime/__snapshots__/AuxRuntime.spec.ts.snap
  src/aux-server/aux-web/shared/vue-components/MonacoTagEditor/MonacoTagEditor.ts
  src/aux-server/aux-web/shared/vue-components/MonacoTagEditor/MonacoTagEditor.vue
  src/aux-vm-browser/managers/SystemPortalCoordinator.spec.ts
  src/aux-vm-browser/managers/SystemPortalCoordinator.ts
  src/aux-vm/managers/PortalManager.ts
  src/js-interpreter/Interpreter.spec.ts
  src/js-interpreter/Interpreter.ts
Labels: enhancement, area:runtime

#416 Expose some HTMLCanvasElement functionality to user scripts
  src/aux-common/bots/BotEvents.ts
  src/aux-common/common/Action.ts
  src/aux-records/Base64UrlUtils.ts
  src/aux-server/aux-web/aux-auth/site/AuthEnterCode/AuthEnterCode.ts
  src/aux-server/aux-web/aux-auth/site/AuthLogin/AuthLogin.ts
  src/aux-server/aux-web/aux-auth/site/AuthRegisterWebAuthn/AuthRegisterWebAuthn.ts
  src/aux-server/aux-web/aux-auth/site/index.ts
  src/aux-server/aux-web/shared/vue-components/HtmlApp/HtmlApp.ts
  src/aux-vm-browser/vm/AuxVMImpl.ts
  src/aux-vm/portals/HtmlAppBackend.ts
  src/undom/index.ts
Labels: enhancement, area:runtime, area:player

#420 Make `os.getCurrentInst()` work for static insts
  CHANGELOG.md
  src/aux-runtime/runtime/AuxLibrary.spec.ts
  src/aux-runtime/runtime/AuxLibrary.ts
Labels: bug, area:runtime

#422 Fix custom apps remaining hidden after login
  CHANGELOG.md
  src/aux-server/aux-web/shared/vue-components/CheckAddressDialog/CheckAddressDialog.ts
  src/aux-server/aux-web/shared/vue-components/CheckAddressDialog/CheckAddressDialog.vue
  src/aux-server/aux-web/shared/vue-components/EnterAccountInfoDialog/EnterAccountInfoDialog.ts
  src/aux-server/aux-web/shared/vue-components/EnterAddressDialog/EnterAddressDialog.ts
  src/aux-server/aux-web/shared/vue-components/HasAccountDialog/HasAccountDialog.ts
  src/aux-server/aux-web/shared/vue-components/LoginEndpointUI/LoginEndpointUI.ts
  src/aux-server/aux-web/shared/vue-components/LoginEndpointUI/LoginEndpointUI.vue
  src/aux-server/aux-web/shared/vue-components/LoginUI/LoginUI.ts
  src/aux-server/aux-web/shared/vue-components/LoginUI/LoginUI.vue
Labels: bug, area:player

#419 Prompt the user for login when attempting to load a player owned inst
  CHANGELOG.md
  src/aux-server/aux-web/aux-player/PlayerHome/PlayerHome.ts
  src/aux-server/aux-web/aux-player/UrlUtils.spec.ts
  src/aux-server/aux-web/aux-player/UrlUtils.ts
  src/aux-server/aux-web/shared/AppManager.ts
  src/aux-server/aux-web/shared/vue-components/AuthUI/AuthUI.ts
  src/aux-server/aux-web/shared/vue-components/AuthUI/AuthUI.vue
Labels: bug, area:player

#417 Implement TypeScript Support
  CHANGELOG.md
  package.json
  patches/acorn-typescript@1.4.13.patch
  pnpm-lock.yaml
  src/aux-common/Event.ts
  src/aux-common/package.json
  src/aux-components/package.json
  src/aux-runtime/package.json
  src/aux-runtime/runtime/AuxRuntime.spec.ts
  src/aux-runtime/runtime/Transpiler.spec.ts
  src/aux-runtime/runtime/Transpiler.ts
  src/aux-server/aux-web/shared/MonacoHelpers.ts
  src/aux-server/aux-web/shared/MonacoUtils.ts
  src/aux-server/aux-web/shared/monaco/CustomTypeScriptWorker.ts
  src/aux-server/aux-web/shared/monaco/ts.worker.ts
  src/aux-server/aux-web/shared/scene/Game.ts
  src/aux-server/aux-web/shared/scene/Simulation3D.ts
  src/aux-server/aux-web/shared/scene/decorators/BotShapeDecorator.ts
  src/aux-server/aux-web/shared/scene/decorators/IMeshDecorator.ts
  src/aux-server/aux-web/shared/scene/decorators/OutlineDecorator.ts
  src/aux-server/aux-web/shared/scene/decorators/ProgressBarDecorator.ts
  src/aux-server/aux-web/shared/scene/decorators/UserMeshDecorator.ts
  src/aux-server/aux-web/shared/vue-components/MonacoTagEditor/MonacoTagEditor.ts
  src/aux-server/package.json
  src/aux-server/typings/global.d.ts
  src/aux-vm-browser/managers/AuthCoordinator.spec.ts
  src/aux-vm/managers/BotWatcher.ts
  src/aux-vm/managers/PortalManager.ts
  src/aux-vm/managers/RecordsManager.spec.ts
  src/js-interpreter/package.json
Labels: area:runtime, area:player

#424 Add the ability to support separate Redis servers
  CHANGELOG.md
  src/aux-server/aux-backend/shared/ServerBuilder.ts
Labels: enhancement, area:backend
