Repository casual-simulation/casualos, pull requests merged in 2024-05, with the labels that each got.

#462 Feat/make system portal resizable between left and right panel
  CHANGELOG.md
  src/aux-server/aux-web/shared/vue-components/SystemPortal/SystemPortal.css
  src/aux-server/aux-web/shared/vue-components/SystemPortal/SystemPortal.ts
  src/aux-server/aux-web/shared/vue-components/SystemPortal/SystemPortal.vue
Labels: enhancement, area:player

#465 Implement `os.capturePortalScreenshot()`
  CHANGELOG.md
  src/aux-common/bots/BotEvents.ts
  src/aux-runtime/runtime/AuxLibrary.spec.ts
  src/aux-runtime/runtime/AuxLibrary.ts
  src/aux-runtime/runtime/AuxLibraryDefinitions.def
  src/aux-server/aux-web/aux-player/scene/PlayerGame.ts
Labels: enhancement, area:runtime, area:player

#478 Feature/hume
  CHANGELOG.md
  src/aux-common/rpc/ErrorCodes.spec.ts
  src/aux-common/rpc/ErrorCodes.ts
  src/aux-records/AIController.spec.ts
  src/aux-records/AIController.ts
  src/aux-records/AIHumeInterface.ts
  src/aux-records/RecordsServer.spec.ts
  src/aux-records/RecordsServer.ts
  src/aux-records/SubscriptionConfiguration.ts
  src/aux-records/__snapshots__/RecordsServer.spec.ts.snap
  src/aux-records/__snapshots__/SubscriptionConfiguration.spec.ts.snap
  src/aux-runtime/runtime/AuxLibrary.spec.ts
  src/aux-runtime/runtime/AuxLibrary.ts
  src/aux-runtime/runtime/AuxLibraryDefinitions.def
  src/aux-runtime/runtime/RecordsEvents.ts
  src/aux-server/aux-backend/shared/ServerBuilder.ts
  src/aux-vm/managers/RecordsManager.spec.ts
  src/aux-vm/managers/RecordsManager.ts
Labels: enhancement, area:backend, area:runtime
