Repository casual-simulation/casualos, pull requests merged in 2024-04, with the labels that each got.

#431 Support `@onGridClick`, `@onGridUp`, and `@onGridDown` for all loaded insts
  CHANGELOG.md
  src/aux-server/aux-web/aux-player/PlayerGameView/PlayerGameView.css
  src/aux-server/aux-web/aux-player/interaction/ClickOperation/PlayerEmptyClickOperation.ts
  src/aux-vm/managers/SimulationManager.ts
Labels: enhancement, area:player

#433 Add the ability to create custom user accounts
  CHANGELOG.md
  src/aux-common/rpc/ErrorCodes.spec.ts
  src/aux-common/rpc/ErrorCodes.ts
  src/aux-records/AuthController.spec.ts
  src/aux-records/AuthController.ts
  src/aux-records/AuthStore.ts
  src/aux-records/RecordsServer.spec.ts
  src/aux-records/RecordsServer.ts
  src/aux-server/aux-backend/prisma/PrismaAuthStore.ts
  src/aux-server/aux-backend/schemas/auth.prisma
  src/aux-server/aux-backend/schemas/migrations/20240402170012_allow_marking_sessions_as_revocable/migration.sql
Labels: enhancement, area:backend

#434 Add a command line interface for CasualOS
  CHANGELOG.md
  jakefile.js
  package.json
  pnpm-lock.yaml
  src/aux-common/rpc/GenericRPCInterface.spec.ts
  src/aux-common/rpc/GenericRPCInterface.ts
  src/aux-records/RecordsClient.spec.ts
  src/aux-records/RecordsClient.ts
  src/aux-records/RecordsServer.spec.ts
  src/aux-records/RecordsServer.ts
  src/aux-records/__snapshots__/RecordsServer.spec.ts.snap
  src/casualos-cli/.gitignore
  src/casualos-cli/LICENSE.txt
  src/casualos-cli/README.md
  src/casualos-cli/cli.ts
  src/casualos-cli/index.ts
  src/casualos-cli/package.json
  src/casualos-cli/schema.ts
  src/casualos-cli/script/build-cli.mjs
  src/casualos-cli/script/clean.mjs
  src/casualos-cli/script/cli-configs.mjs
  src/casualos-cli/script/dev-cli.mjs
  src/casualos-cli/tsconfig.json
  tsconfig.json
Labels: enhancement, area:backend, area:cli

#439 Add the `superUser` role
  src/aux-common/rpc/GenericRPCInterface.ts
  src/aux-records/AuthController.spec.ts
  src/aux-records/AuthController.ts
  src/aux-records/AuthStore.ts
  src/aux-records/AuthUtils.spec.ts
  src/aux-records/AuthUtils.ts
  src/aux-records/RecordsController.spec.ts
  src/aux-records/RecordsController.ts
  src/aux-records/RecordsServer.spec.ts
  src/aux-records/RecordsServer.ts
  src/aux-records/SubscriptionController.spec.ts
  src/aux-records/SubscriptionController.ts
  src/aux-records/TestUtils.ts
  src/aux-records/__snapshots__/RecordsServer.spec.ts.snap
  src/aux-server/aux-backend/mongo/MongoDBAuthStore.ts
  src/aux-server/aux-backend/prisma/PrismaAuthStore.ts
  src/aux-server/aux-backend/schemas/auth.prisma
  src/aux-server/aux-backend/schemas/migrations/20240408180450_add_user_roles/migration.sql
Labels: enhancement, area:backend

#443 Added eye tracking based `transient-pointer` support for Apple Vision Pro
  CHANGELOG.md
  pnpm-lock.yaml
  src/aux-components/package.json
  src/aux-server/aux-web/aux-player/scene/PlayerPageSimulation3D.ts
  src/aux-server/aux-web/shared/scene/Input.ts
  src/aux-server/aux-web/shared/scene/xr/WebXRControllerMesh.ts
  src/aux-server/aux-web/shared/scene/xr/WebXRTypes.ts
  src/aux-server/package.json
Labels: enhancement, fixed, area:player, browser:safari, os:visionos

#441 Support specifying a `sessionKey` in the URL
  CHANGELOG.md
  src/aux-records/AuthController.spec.ts
  src/aux-records/AuthController.ts
  src/aux-records/AuthStore.ts
  src/aux-server/aux-web/aux-auth/iframe/AuthHandler.ts
  src/aux-server/aux-web/aux-auth/shared/AuthManager.ts
  src/aux-server/aux-web/aux-auth/site/index.ts
  src/aux-server/aux-web/aux-player/PlayerHome/PlayerHome.ts
  src/aux-server/aux-web/shared/AppManager.ts
  src/aux-vm-browser/managers/AuthEndpointHelper.ts
  src/aux-vm-browser/managers/AuthHelper.ts
Labels: enhancement, area:backend, area:player, area:auth

#445 Add the ability to manually assign subscriptions to users
  CHANGELOG.md
  src/aux-records/AuthStore.ts
  src/aux-records/MemoryStore.ts
  src/aux-records/RecordsServer.spec.ts
  src/aux-records/RecordsServer.ts
  src/aux-records/SubscriptionConfiguration.spec.ts
  src/aux-records/SubscriptionConfiguration.ts
  src/aux-records/SubscriptionController.spec.ts
  src/aux-records/SubscriptionController.ts
  src/aux-records/Utils.spec.ts
  src/aux-records/Utils.ts
  src/aux-records/__snapshots__/RecordsServer.spec.ts.snap
  src/aux-server/aux-backend/prisma/PrismaAuthStore.ts
Labels: enhancement, area:backend

#447 Improve tag update performance
  CHANGELOG.md
  src/aux-common/bots/StateUpdatedEvent.spec.ts
  src/aux-common/bots/StateUpdatedEvent.ts
  src/aux-server/aux-web/aux-player/interaction/DragOperation/PlayerBotDragOperation.ts
  src/aux-server/aux-web/aux-player/interaction/DragOperation/PlayerModDragOperation.ts
  src/aux-server/aux-web/shared/interaction/DragOperation/BaseBotDragOperation.ts
  src/aux-server/aux-web/shared/interaction/DragOperation/BaseModDragOperation.ts
  src/aux-server/aux-web/shared/scene/decorators/DimensionPositionDecorator.ts
  src/aux-vm-browser/managers/SystemPortalCoordinator.ts
Labels: bug, area:runtime, area:player

#444 Feat/support running image classification with os.classify images()
  CHANGELOG.md
  src/aux-common/bots/BotEvents.ts
  src/aux-runtime/runtime/AuxLibrary.ts
  src/aux-runtime/runtime/AuxLibraryDefinitions.def
  src/aux-server/aux-web/shared/vue-components/ImageClassifier/ImageClassifier.ts
Labels: area:runtime, area:player

#457 Expose several properties from `HTMLVideoElement`
  CHANGELOG.md
  src/aux-vm/portals/HtmlAppBackend.ts
Labels: enhancement, area:runtime
