Repository casual-simulation/casualos, pull requests merged in 2024-02, with the labels that each got.

#362 Add an initial implementation for comID
  CHANGELOG.md
  docs/README.md
  src/aux-common/common/WebConfig.ts
  src/aux-common/common/index.ts
  src/aux-components/components/Loading/Loading.css
  src/aux-components/components/Loading/Loading.ts
  src/aux-components/components/Loading/Loading.vue
  src/aux-records/AuthController.ts
  src/aux-records/ComIdConfig.ts
  src/aux-records/MemoryStore.ts
  src/aux-records/NotificationMessenger.spec.ts
  src/aux-records/NotificationMessenger.ts
  src/aux-records/RecordsController.spec.ts
  src/aux-records/RecordsController.ts
  src/aux-records/RecordsServer.spec.ts
  src/aux-records/RecordsServer.ts
  src/aux-records/RecordsStore.ts
  src/aux-records/SubscriptionConfiguration.ts
  src/aux-records/TestUtils.ts
  src/aux-records/Utils.spec.ts
  src/aux-records/Utils.ts
  src/aux-records/__snapshots__/NotificationMessenger.spec.ts.snap
  src/aux-records/forms/FormError.spec.ts
  src/aux-records/forms/FormError.ts
  src/aux-records/index.ts
  src/aux-server/aux-backend/mongo/MongoDBAuthStore.ts
  src/aux-server/aux-backend/prisma/PrismaRecordsStore.ts
  src/aux-server/aux-backend/schemas/auth.prisma
  src/aux-server/aux-backend/schemas/migrations/20240124214113_add_com_id/migration.sql
  src/aux-server/aux-backend/schemas/migrations/20240124214243_add_com_id_references/migration.sql
  src/aux-server/aux-backend/schemas/migrations/20240124220001_add_com_id_config/migration.sql
  src/aux-server/aux-backend/schemas/migrations/20240125165905_add_length_limits_for_strings/migration.sql
  src/aux-server/aux-backend/schemas/migrations/20240129210400_add_com_id_requests/migration.sql
  src/aux-server/aux-backend/server/config.ts
  src/aux-server/aux-backend/server/player.config.ts
  src/aux-server/aux-backend/server/server.ts
  src/aux-server/aux-backend/shared/ServerBuilder.ts
  src/aux-server/aux-web/aux-auth/iframe/AuthHandler.ts
  src/aux-server/aux-web/aux-auth/shared/AuthManager.ts
  src/aux-server/aux-web/aux-auth/site/AuthApp/AuthApp.css
  src/aux-server/aux-web/aux-auth/site/AuthApp/AuthApp.ts
  src/aux-server/aux-web/aux-auth/site/AuthApp/AuthApp.vue
  src/aux-server/aux-web/aux-auth/site/AuthStudio/AuthStudio.css
  src/aux-server/aux-web/aux-auth/site/AuthStudio/AuthStudio.ts
  src/aux-server/aux-web/aux-auth/site/AuthStudio/AuthStudio.vue
  src/aux-server/aux-web/aux-auth/site/index.ts
  src/aux-server/aux-web/aux-player/PlayerHome/PlayerHome.css
  src/aux-server/aux-web/aux-player/PlayerHome/PlayerHome.ts
  src/aux-server/aux-web/aux-player/PlayerHome/PlayerHome.vue
  src/aux-server/aux-web/shared/AppManager.ts
  src/aux-server/aux-web/shared/vue-components/LoadApp/LoadApp.ts
  src/aux-server/aux-web/shared/vue-components/LoadApp/LoadApp.vue
  src/aux-vm-browser/managers/AuthCoordinator.spec.ts
  src/aux-vm-browser/managers/AuthEndpointHelper.ts
  src/aux-vm/auth/AuxAuth.ts
  src/aux-vm/managers/AuthHelperInterface.ts
  src/aux-vm/managers/RecordsManager.spec.ts
  src/aux-vm/managers/RecordsManager.ts
  src/aux-vm/vm/AuxConfig.ts
Labels: enhancement, area:backend, area:player, area:auth

#364 Fix/show upload files dialog cuts off upload button
  CHANGELOG.md
  src/aux-server/aux-web/shared/vue-components/UploadServerModal/UploadServerModal.css
Labels: bug, area:player

#368 Fix/setting portal background address on grid portal bot changes mini map portal bot
  CHANGELOG.md
  src/aux-server/aux-web/aux-player/PlayerGameView/PlayerGameView.css
  src/aux-server/aux-web/aux-player/PlayerGameView/PlayerGameView.vue
  src/aux-server/aux-web/aux-player/scene/PlayerGame.ts
  src/aux-server/aux-web/shared/scene/Game.ts
  src/aux-server/aux-web/shared/vue-components/BaseGameView.ts
  src/aux-server/aux-web/shared/vue-components/IGameView.ts
Labels: bug, area:player

#369 Add the ability to isolate insts from each other by using separate domains
  CHANGELOG.md
  src/aux-server/GettingStarted-aws.md
  src/aux-server/GettingStarted-standalone.md
  src/aux-server/aux-web/aux-player/PlayerHome/PlayerHome.ts
  src/aux-server/aux-web/shared/AppManager.ts
  src/aux-vm-browser/vm/AuxVMImpl.ts
  src/aux-vm-browser/vm/AuxVMUtils.spec.ts
  src/aux-vm-browser/vm/AuxVMUtils.ts
Labels: enhancement, area:player

#373 Fix an issue where minified builds would cause HTML methods to not work
  CHANGELOG.md
  src/undom/index.ts
Labels: bug, area:player

#375 Add the ability to request and grant access to private insts
  CHANGELOG.md
  src/aux-common/common/PolicyPermissions.ts
  src/aux-common/common/PublicUserInfo.ts
  src/aux-common/common/index.ts
  src/aux-common/partitions/PartitionAuthSource.ts
  src/aux-common/websockets/AuthenticatedConnectionClient.spec.ts
  src/aux-common/websockets/AuthenticatedConnectionClient.ts
  src/aux-common/websockets/WebsocketEvents.ts
  src/aux-records/AuthController.spec.ts
  src/aux-records/AuthController.ts
  src/aux-records/PolicyController.ts
  src/aux-records/RecordsServer.spec.ts
  src/aux-records/RecordsServer.ts
  src/aux-records/Utils.spec.ts
  src/aux-records/Utils.ts
  src/aux-records/websockets/MemoryWebsocketConnectionStore.ts
  src/aux-records/websockets/WebsocketConnectionStore.ts
  src/aux-records/websockets/WebsocketController.spec.ts
  src/aux-records/websockets/WebsocketController.ts
  src/aux-server/aux-backend/prisma/PrismaMetricsStore.ts
  src/aux-server/aux-web/aux-auth/iframe/AuthHandler.ts
  src/aux-server/aux-web/aux-auth/shared/AuthManager.ts
  src/aux-server/aux-web/shared/vue-components/AuthUI/AuthUI.ts
  src/aux-server/aux-web/shared/vue-components/AuthUI/AuthUI.vue
  src/aux-vm-browser/managers/AuthCoordinator.spec.ts
  src/aux-vm-browser/managers/AuthCoordinator.ts
  src/aux-vm-browser/managers/AuthEndpointHelper.ts
  src/aux-vm/auth/AuxAuth.ts
  src/aux-vm/managers/AuthHelperInterface.ts
  src/aux-vm/managers/RecordsManager.spec.ts
  src/aux-vm/vm/BaseAuxChannel.ts
  src/aux-vm/vm/test/TestAuxVM.ts
Labels: enhancement, area:backend, area:player

#376 Make `os.unregisterApp()` trigger Preact hooks cleanup code
  CHANGELOG.md
  src/aux-vm/portals/HtmlAppBackend.ts
Labels: bug, area:runtime

#377 Fix `os.unloadInst()`
  CHANGELOG.md
  src/aux-server/aux-web/aux-player/MenuPortal.ts
  src/aux-server/aux-web/aux-player/PlayerHome/PlayerHome.ts
  src/aux-vm/managers/SimulationManager.ts
Labels: bug, area:player

#380 Prevent the login system from getting stuck with multiple login attempts
  CHANGELOG.md
  src/aux-server/aux-web/aux-auth/iframe/AuthHandler.ts
  src/aux-vm-browser/managers/AuthEndpointHelper.ts
Labels: bug, area:player, area:auth

#381 Add the ability to control WebSocket rate limits separately from HTTP rate limits
  CHANGELOG.md
  src/aux-records/MemoryRateLimiter.ts
  src/aux-records/RecordsServer.spec.ts
  src/aux-records/RecordsServer.ts
  src/aux-server/aux-backend/server/server.ts
  src/aux-server/aux-backend/serverless/aws/src/LoadServer.ts
  src/aux-server/aux-backend/shared/ServerBuilder.ts
Labels: enhancement, area:backend

#382 Implement `os.getRecordsEndpoint()`
  CHANGELOG.md
  src/aux-common/bots/BotEvents.ts
  src/aux-runtime/runtime/AuxLibrary.spec.ts
  src/aux-runtime/runtime/AuxLibrary.ts
  src/aux-runtime/runtime/AuxLibraryDefinitions.def
  src/aux-vm/managers/RecordsManager.spec.ts
  src/aux-vm/managers/RecordsManager.ts
Labels: enhancement, area:runtime, area:player

#385 Implement `os.showAccountInfo()`
  CHANGELOG.md
  src/aux-common/bots/BotEvents.ts
  src/aux-runtime/runtime/AuxLibrary.spec.ts
  src/aux-runtime/runtime/AuxLibrary.ts
  src/aux-runtime/runtime/AuxLibraryDefinitions.def
  src/aux-vm-browser/managers/AuthCoordinator.spec.ts
  src/aux-vm-browser/managers/AuthCoordinator.ts
Labels: enhancement, area:runtime, area:player

#386 Fix/move tags to categorized pages in the documentation
  CHANGELOG.md
  docs/docs/components.jsx
  docs/docs/custom-executables/introduction.mdx
  docs/docs/learn/getting-started.mdx
  docs/docs/learn/scripting.mdx
  docs/docs/tags.mdx
  docs/docs/tags/auth-bot.mdx
  docs/docs/tags/behavior.mdx
  docs/docs/tags/config-bot.mdx
  docs/docs/tags/dimension.mdx
  docs/docs/tags/history.mdx
  docs/docs/tags/info.mdx
  docs/docs/tags/listen.mdx
  docs/docs/tags/portal-bot.mdx
  docs/docs/tags/visualization.mdx
  docs/docs/util/remarkTagLinks.js
  docs/docs/variables.mdx
  docs/docusaurus.config.js
  docs/sidebars.js
Labels: bug, area:docs

#389 Add the ability to load and display LDraw files
  CHANGELOG.md
  docs/docs/tags/visualization.mdx
  docs/sidebars.js
  src/aux-common/bots/Bot.ts
  src/aux-common/bots/BotCalculations.ts
  src/aux-common/bots/BotEvents.ts
  src/aux-common/bots/test/BotCalculationContextTests.ts
  src/aux-runtime/runtime/AuxLibrary.spec.ts
  src/aux-runtime/runtime/AuxLibrary.ts
  src/aux-runtime/runtime/AuxLibraryDefinitions.def
  src/aux-server/aux-web/aux-player/scene/PlayerGame.ts
  src/aux-server/aux-web/shared/DownloadHelpers.ts
  src/aux-server/aux-web/shared/public/ldraw-loader/LDrawLoader.d.ts
  src/aux-server/aux-web/shared/public/ldraw-loader/LDrawLoader.js
  src/aux-server/aux-web/shared/scene/decorators/BotShapeDecorator.ts
  src/aux-vm/portals/HtmlAppBackend.ts
Labels: enhancement, area:player

#392 Add Google Gemini Support for `ai.chat()`
  CHANGELOG.md
  pnpm-lock.yaml
  src/aux-records/AIChatInterface.ts
  src/aux-records/AIController.spec.ts
  src/aux-records/AIController.ts
  src/aux-records/GoogleAIChatInterface.ts
  src/aux-records/OpenAIChatInterface.ts
  src/aux-records/RecordsServer.spec.ts
  src/aux-records/index.ts
  src/aux-records/package.json
  src/aux-runtime/runtime/AuxLibrary.ts
  src/aux-runtime/runtime/AuxLibraryDefinitions.def
  src/aux-runtime/runtime/RecordsEvents.ts
  src/aux-server/aux-backend/shared/ServerBuilder.ts
  src/aux-vm/managers/RecordsManager.spec.ts
  src/aux-vm/managers/RecordsManager.ts
Labels: enhancement, area:backend, area:player

#391 Feat/add ArrayBuffer support to bytes.toBase64String and byres.toBase64Url
  CHANGELOG.md
  src/aux-runtime/runtime/AuxLibrary.spec.ts
  src/aux-runtime/runtime/AuxLibrary.ts
Labels: enhancement, area:runtime

#396 Implement case-insensitive matching for email addresses
  CHANGELOG.md
  src/aux-server/aux-backend/mongo/MongoDBAuthStore.ts
  src/aux-server/aux-backend/prisma/PrismaAuthStore.ts
  src/aux-server/aux-backend/server/server.ts
Labels: enhancement, area:backend

#397 Support a custom domain for file records
  CHANGELOG.md
  src/aux-records-aws/S3FileRecordsStore.spec.ts
  src/aux-records-aws/S3FileRecordsStore.ts
  src/aux-records/FileRecordsStore.ts
  src/aux-records/MemoryFileRecordsLookup.ts
  src/aux-server/aux-backend/mongo/MongoDBFileRecordsStore.ts
  src/aux-server/aux-backend/prisma/PrismaFileRecordsLookup.ts
  src/aux-server/aux-backend/schemas/auth.prisma
  src/aux-server/aux-backend/schemas/migrations/20240223221905_add_bucket_to_file_record/migration.sql
  src/aux-server/aux-backend/shared/ServerBuilder.ts
Labels: enhancement, area:backend
