Repository casual-simulation/casualos, pull requests merged in 2025-04, with the labels that each got.

#598 Feat/bios add ability to create custom inst names for local and studio insts
  CHANGELOG.md
  src/aux-server/aux-web/aux-player/PlayerHome/PlayerHome.ts
  src/aux-server/aux-web/aux-player/PlayerHome/PlayerHome.vue
Labels: enhancement, area:player

#600 Add support for custom AI Chat integrations which are compatible with the OpenAI Completions API
  CHANGELOG.md
  src/aux-records/OpenAIChatInterface.ts
  src/aux-records/ServerConfig.spec.ts
  src/aux-records/ServerConfig.ts
  src/aux-records/__snapshots__/ServerConfig.spec.ts.snap
  src/aux-server/aux-backend/shared/ServerBuilder.ts
  src/aux-server/aux-web/shared/vue-components/BaseGameView.ts
Labels: enhancement, area:backend

#601 Fix/map portal orientation mode with sprite form not orient properly when using orientation mode top
  CHANGELOG.md
  src/aux-server/aux-web/shared/scene/decorators/DimensionPositionDecorator.ts
Labels: bug, area:player

#604 Fix/calculate viewport coordinates from position in map portal does not produce expected results
  CHANGELOG.md
  src/aux-server/aux-web/aux-player/scene/PlayerGame.ts
Labels: bug, area:player
